In [ ]:
x=5
print(x)

5

In [ ]:
x='Hello Ajith'
print(x)

Hello Ajith

In [ ]:
a=int(input("Read the first number"))
b=int(input("Read the second number"))
if(a>b):
  max=a
else:
  max=b
print("Max =",max)

Read the first number10
Read the second number15
Max = 15

In [ ]:
print(1,000,000)

1 0 0

In [ ]:
5**2

25

In [ ]:
age = "12"
print(age)

12

In [ ]:
int_age = int(age)
print(age)

12

In [ ]:
print(int(7.9))

7

In [ ]:
print(int("7.9"))

ValueError: ignored

In [ ]:
print(float("7.9"))

7.9

In [ ]:
hours = int(input("Enter hours\n"))
rate = float(input("Enter rate per hour\n"))
grosspay = hours* rate
print('The gross pay is ')
print(grosspay)

Enter hours
3
Enter rate per hour
3
The gross pay is
9.0

In [ ]:
Width = 17
Height = 12.0
print(Width//2)
print(Width/2.0)
print(Height/3)
print(1+2*5)

8
8.5
4.0
11

In [ ]:
celcius = int(input())
f = (celcius*1.8)+32
print(f)

32
89.6

In [ ]:
char = input()
print('The ascii value of '+ char + ' is', ord(char))

b
The ascii value of b is 98

In [ ]:
print('G','F','G',sep=' ')

G F G

In [ ]:
print("Python",end='@')
print('GeeksforGeeks')

Python@GeeksforGeeks

In [ ]:
x=int(input())
y=int(input())
x,y=y,x
print('x=',x)
print('y=',y)

10
20
x= 20
y= 10

In [ ]:
a = 1.0/(2.0*3.142)
print(a)

0.1591343093570974

In [ ]:
x=5
if(x>0) :
  print('Postive')

Postive

In [ ]:
from IPython.core.inputtransformer2 import find_last_indent
a=int(input())
b=int(input())
try:
  c=a//b
  print(c)
except:
  print('cant divide by zero')
finally:
  print('This is always executed')

5
0
cant divide by zero
This is always executed

In [ ]:
type(32)

int

In [ ]:
import math
print(math)

<module 'math' (built-in)>

In [ ]:
math.sqrt(2)

1.4142135623730951

In [ ]:
print(random)

NameError: ignored

In [ ]:
import random
print(random)

<module 'random' from '/usr/lib/python3.10/random.py'>

In [ ]:
import random
print(random.random())

0.874683318536787

In [ ]:
def ajith():
  print('Hi I m Ajith Kumar S')
  print('I m a developer')

ajith()

Hi I m Ajith Kumar S
I m a developer

In [ ]:
def myfun(*kids):
  print('youngest child is '+kids[1])

myfun('ajith','vinith','mithila')

youngest child is vinith

In [ ]:
def factorial(n):
  if n==1:
    return 1
  else:
    return n*factorial(n-1)

num=5;
print(factorial(num))

120

In [ ]:
x=x+1
print(x)

NameError: ignored

In [ ]:
x=0
x=x+1
print(x)

1

In [ ]:
n=1
while n<=10:
  print(n)
  n=n+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
n=5
while n>0:
  n-=1
  if n==2:
    break
  print(n)

4
3

In [ ]:
var=10
while var>0:
  var = var-1
  if var==5:
    continue
  print(var)

9
8
7
6
4
3
2
1
0

In [ ]:
sum=0
count=0
while True:
  num = int(input())
  if num%2!=0:
    continue
  else:
    sum = sum + num
    count = count+1

    if count==5:
      break
print(sum)

25
6
8
4
2
6
26